apiVersion: v1
kind: Secret
metadata:
  name: {{ filestore_secret_name }}
  namespace: {{ namespace }}
  labels:
    mobile: enabled
stringData:
  name: {{ filestore_secret_name }}
  type: {{ filestore_secret_name }}
  uri: https://{{ ffilestore_route.stdout }}
