apiVersion: v1
kind: Secret
metadata:
  name: {{ fhsync_secret_name }}
  namespace: {{ namespace }}
  labels:
    mobile: enabled
stringData:
  name: {{ fhsync_secret_name }}
  type: {{ fhsync_secret_name }}
  uri: https://{{ fhsync_route.stdout }}
